<section class="home">
    <h1 class="title">Welcome To Pets R us!</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio error praesentium maiores accusantium minus quis
        in at voluptatum illo, earum sed? Magnam corporis animi neque pariatur unde assumenda quod voluptate recusandae
        officia quaerat minima cumque consectetur debitis ad accusamus, similique placeat veritatis obcaecati amet eaque
        in aspernatur illo aut! Exercitationem, minima. Expedita perferendis fugiat magnam rem, eveniet mollitia?
        Tempore asperiores labore fugit sit nesciunt magni maxime minima unde. Aperiam mollitia modi accusantium
        provident facilis. Fuga quaerat illum numquam quidem asperiores delectus! Neque fugit at itaque vero temporibus
        fuga placeat ex repudiandae aliquam ipsa officia, magnam reiciendis! Veritatis nemo saepe ducimus?
    </p>
</section>